* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --size-0: 0.25rem;
  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 2rem;

  --black: #333;
  --dark: #555;
  --light: #aaa;
  --white: #eee;

  --danger: rgb(245, 66, 42);

  --family: monospace;
  --fence: 2px var(--white) dashed;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  color: var(--dark);
  font-family: var(--family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--size-2);
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 640px;
  margin: 0 auto;
  border-radius: var(--size-1);
  height: 100%;
  padding: var(--size-1);
  border: var(--fence);
}

.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  overflow-y: hidden;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  border-radius: var(--size-1);
  gap: var(--size-0);
}
